.custom-form input {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 4px 11px ;
    height: 32px;
    box-sizing: border-box;
}

.custom-form input:hover {
    background-color: #5D64FB7A;
    border-color: #212AFBFF;
}

fieldset {
    border: 1px solid gray;
    border-radius: 5px;
}