/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  

.employee-button {
  margin-top: 20px;
  margin-bottom: 20px;
}