table {
    border: 1px solid lightgray;
  }
  
  tbody {
    border-bottom: 1px solid lightgray;
  }
  
  th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
  }
  
  tfoot {
    color: gray;
  }
  
  tfoot th {
    font-weight: normal;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    color: #aaa;
    cursor: not-allowed;
  }